extends layout

block content
  h1= title
  p Welcome to #{title}
  form#fileUpload(name="file", method="POST", action="/payroll/bulk_upload", enctype="multipart/form-data")
    input#userInputFile(type="file", name="file")
    button(type="submit") Upload
